<script setup>
import MainHeader from './MainHeader.vue';
import MainFooter from './MainFooter.vue';
</script>
<template>
    <div>
        <MainHeader />
         <div class="" style="min-height: 90vh;width: 100%;">
            <slot/>
         </div>
        <MainFooter/>
    </div>
</template>